DATABASE_URL=""
CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
PORT=""
# CORS Whitelist - Comma separated list of allowed frontends
ALLOWED_ORIGINS=""
# this can be development, prod, sit
NODE_ENV=development

R2_ENDPOINT_URL=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
R2_PUBLIC_DOMAIN_URL=""