DATABASE_URL=""
CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
PORT=""
# CORS Whitelist - Comma separated list of allowed frontends
ALLOWED_ORIGINS=""
# this can be development, prod, sit
NODE_ENV=development